 
<div class="container">
    <div class="custom-class">
        <h3>Contacts</h3>
        <p>I can be reached at the following email: <b>domain&#64;gmail.com
        </b></p>
        <p>Feel free to collaborate with me through the following social media platforms:</p>
    </div>
    <div class="list-group">
        <a href="//linkedin.com" target="_blank" class="list-group-item">
            <img src="linkedin.png" class="round">
            <h3 class="app">Linkedin</h3>
        </a>
        
        <a href="//github.com" target="_blank" class="list-group-item">
            <img src="github.png" class="round">
            <h3 class="app">GitHub</h3>
        </a>

        <a href="//x.com" target="_blank" class="list-group-item">
            <img src="X.jpg" class="round">
            <h3 class="app">X(twitter)</h3>
        </a>
    </div>
</div>
