<nav class="navbar-expand-md border-bottom mb-3 custom-shadow">
    <div class="container">
        <ul>
            <li class="nav-item">
                <a class="nav-link text-secondary"  routerLink="/home"  > Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio">Portfolio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume"> Resume </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact"> contact </a>
            </li>
        </ul>
    </div>
</nav>

