
<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="center">
                <h2>About Me</h2>
               <img src="public/profile.jpg" width="256" height="256">
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate nisi nesciunt asperiores, debitis in deleniti, praesentium soluta non sit reiciendis sint assumenda voluptates, dolore aliquam voluptatibus molestiae dolorum veritatis vitae! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam earum odio nostrum, asperiores fuga soluta libero, dignissimos architecto corrupti quo molestiae praesentium? Officiis doloribus illum expedita rem, et eaque, voluptatem n .</p> 
            </div>

        </div>
        <div class="col-lg">
            <div class="center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>

